:root {
  --grey200: #EEEEEE;
  --bluegrey50: #ECEFF1;
  --blueA400: #2979FF;
}

body {
  background: var(--bluegrey50);
}

.mainViewContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appContainer {
  padding: 0 25px 25px 25px;
}

.listViewSection {
  padding-top: 10px;
}

.listViewSectionHeader {
  margin: 0;
  padding-bottom: 5px;
}

.listViewSectionContent {
  border-radius: 5px;
  overflow: hidden;
}

.diskItemsGrid {
  display: flex;
}

.diskItemBox {
  width: 20%;
  margin-right: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.diskName {
  font-weight: bold;
}

.diskUsageBar {
  padding: 5px 0;
}

.diskUsageBarOuter {
  position: relative;
  width: 100%;
  height: 20px;
  background: #82B1FF;
  border-radius: 5px;
  overflow: hidden;
}

.diskUsageBarInner {
  position: absolute;
  height: 100%;
  background: var(--blueA400);
}

.diskUsageText {
  font-size: 14px;
}

.tabulator {
  border-radius: 5px;
}

.contextMenuIcon {
  padding-right: 2px;
}

.activityViewContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

.itemProps {
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.itemName {
  margin-bottom: -8px;
}

.itemHash {
  font-family: monospace;
  color: var(--blueA400);
  display: inline-block;
  background: var(--bluegrey50);
  padding: 0 5px;
  border-radius: 5px;
}

.itemDetails {
  display: flex;
  padding-top: 10px;
}

.detailsColKeys {
  padding-right: 10px;
  font-weight: bold;
}

.activitySection {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.returnButtonFloating {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background: var(--blueA400);
  color: #fff;
  border: 0;
  outline: none;
}