:root {
  --grey200: #EEEEEE;
}

body {
  background: var(--grey200);
}

.mainViewContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contextMenuIcon {
  padding-right: 2px;
}

.activityViewContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

.itemProps {
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.itemName {
  margin-bottom: -8px;
}

.itemHash {
  font-family: monospace;
  color: #4CAF50;
  display: inline-block;
  background: var(--grey200);
  padding: 0 5px;
  border-radius: 5px;
}

.itemDetails {
  display: flex;
  padding-top: 10px;
}

.detailsColKeys {
  padding-right: 10px;
  font-weight: bold;
}

.activitySection {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.returnButtonFloating {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background: #4CAF50;
  color: #fff;
  border: 0;
  outline: none;
}